<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Iniciar Sesión Admin</title>
</head>
<body>
    <main>
        <section class="d-flex justify-content-center">
            <form action="post" style="padding: 17rem 2rem;">
                <div class="form-outline mb-4">
                    <label class="form-label" for="username">Usuario</label>
                    <input type="text" id="username" name="username" autocapitalize="none" autofocus=""
                        autocomplete="username" maxlength="20" required="" class="form-control">
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Contraseña</label>
                    <input type="password" id="password" name="password" autocomplete="current-password" required=""
                        class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>
            </form>
        </section>
    </main>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>